﻿@model VibbraPlaces.Web.Models.Evaluation.FindEvaluationVM
@{
    ViewBag.Title = "Avaliações de Estabelecimentos";
}

@Html.Partial("_Messages")

<div class="alert alert-success" role="alert">
    <p><b>Buscar Avaliação</b></p>
    <hr style="margin: 2px">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Evaluation", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Term, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Term, new { @class = "form-control", placeholder = "Nome do local ou endereço..." })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.PlaceType)
                        @Html.DropDownListFor(m => m.PlaceType,
                            new SelectList(ViewBag.PlaceTypes, "Id", "Name"),
                            new { @class = "form-control", id = "PlaceType" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Price)
                        @Html.DropDownList("Price", new SelectList(ViewBag.PriceRating, "Value", "Text", Model.Price), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label for="btnFind" class="control-label" style="margin-bottom: 5px; padding: 0">&nbsp;</label>
                        <button id="btnFind" type="submit" class="form-control btn btn-primary">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <p><b>Avaliações</b></p>

        <div class="row">
            <div class="col-md-12">

                <table class="table">
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Possui Internet?</th>
                        <th>Preço</th>
                        <th>Avaliação Geral</th>
                        <th></th>
                    </tr>

                    @foreach (var evaluation in Model.Evaluations)
                    {
                    <tr>
                        <td>@evaluation.Name</td>
                        <td>@evaluation.Type</td>
                        <td>@evaluation.City</td>
                        <td>@evaluation.State</td>
                        <td>
                            @if (evaluation.HasInternet)
                            {
                                <span>Sim</span>
                            }
                            else
                            {
                                <span>Não</span>
                            }
                        </td>
                        <td>
                            <span class="dollar-view">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    var starClass = "star";
                                    if (evaluation.PriceRating == 6 - i)
                                    {
                                        starClass += " active";
                                    }
                                    <span data-value="@(6 - i)" class="@starClass"></span>
                                }
                            </span>
                        </td>

                        <td>
                            <span class="rating-view">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    var starClass = "star";
                                    if (evaluation.GeneralRating == 6 - i)
                                    {
                                        starClass += " active";
                                    }
                                    <span data-value="@(6 - i)" class="@starClass"></span>
                                }
                            </span>
                        </td>

                        <td><a href="/place/view-evaluation/@evaluation.Id" class="btn btn-success">Visualizar</a></td>
                    </tr>
                    }

                </table>

            </div>

        </div>
    </div>

</div>