﻿@model VibbraPlaces.Web.Models.Evaluation.FindEvaluationVM
@{
    ViewBag.Title = "Minhas Avaliações de Estabelecimentos";
}

<h2>Minhas Avaliações</h2>
<hr />

@Html.Partial("_Messages")

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">

                <table class="table">
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Possui Internet?</th>
                        <th>Preço</th>
                        <th>Avaliação Geral</th>
                        <th></th>
                    </tr>

                    @foreach (var evaluation in Model.Evaluations)
                    {
                        <tr>
                            <td>@evaluation.Name</td>
                            <td>@evaluation.Type</td>
                            <td>@evaluation.City</td>
                            <td>@evaluation.State</td>
                            <td>
                                @if (evaluation.HasInternet)
                                {
                                    <span>Sim</span>
                                }
                                else
                                {
                                    <span>Não</span>
                                }
                            </td>
                            <td>
                                <span class="dollar-view">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        var starClass = "star";
                                        if (evaluation.PriceRating == 6 - i)
                                        {
                                            starClass += " active";
                                        }
                                        <span data-value="@(6 - i)" class="@starClass"></span>
                                    }
                                </span>
                            </td>

                            <td>
                                <span class="rating-view">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        var starClass = "star";
                                        if (evaluation.GeneralRating == 6 - i)
                                        {
                                            starClass += " active";
                                        }
                                        <span data-value="@(6 - i)" class="@starClass"></span>
                                    }
                                </span>
                            </td>

                            <td><a href="/place/evaluate/@evaluation.PlaceId" class="btn btn-success">Editar</a></td>
                        </tr>
                    }

                </table>

            </div>

        </div>
    </div>

</div>