﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}

.rating span.star, .rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.rating span.star:hover, .rating span.star:hover {
    cursor: pointer;
}

.rating span.star:before, .rating span.star:before {
    content: "★";
    padding-right: 5px;
    color: #BEC3C7;
}

.rating span.star:hover:before, .rating span.star:hover:before, .rating span.star:hover ~ span.star:before, .rating span.star:hover ~ span.star:before {
    content: "★";
    color: #41CAC0;
}

.rating span.star.active::before, .rating span.star.active::before, .rating span.star.active ~ span.star::before, .rating span.star.active ~ span.star::before {
    color: #41cac0;
    content: "★";
}

.dollar {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}

.dollar span.star, .dollar span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.dollar span.star:hover, .dollar span.star:hover {
    cursor: pointer;
}

.dollar span.star:before, .dollar span.star:before {
    content: "$";
    padding-right: 5px;
    color: #BEC3C7;
}

.dollar span.star:hover:before, .dollar span.star:hover:before, .dollar span.star:hover ~ span.star:before, .dollar span.star:hover ~ span.star:before {
    content: "$";
    color: #41CAC0;
}

.dollar span.star.active::before, .dollar span.star.active::before, .dollar span.star.active ~ span.star::before, .dollar span.star.active ~ span.star::before {
    color: #41cac0;
    content: "$";
}

.rating-view {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}

.rating-view span.star, .rating-view span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.rating-view span.star:before, .rating-view span.star:before {
    content: "★";
    padding-right: 5px;
    color: #BEC3C7;
}

.rating-view span.star.active::before, .rating-view span.star.active::before, .rating-view span.star.active ~ span.star::before, .rating-view span.star.active ~ span.star::before {
    color: #41cac0;
    content: "★";
}

.dollar-view {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}

.dollar-view span.star, .dollar-view span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.dollar-view span.star:before, .dollar-view span.star:before {
    content: "$";
    padding-right: 5px;
    color: #BEC3C7;
}

.dollar-view span.star.active::before, .dollar-view span.star.active::before, .dollar-view span.star.active ~ span.star::before, .dollar-view span.star.active ~ span.star::before {
    color: #41cac0;
    content: "$";
}