﻿@if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
{
    <div role="alert" class="alert alert-success alert-dismissible fade in">
        <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
        </button>
        &nbsp;
        <em id="info" class="fa fa-check"></em>
        &nbsp;
        @Html.Raw(@TempData["SuccessMessage"])
    </div>
}

@if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
{
    <div role="alert" class="alert alert-danger alert-dismissible fade in">
        <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
        </button>
        &nbsp;
        <em id="info" class="fa fa-exclamation-triangle"></em>
        &nbsp;
        @Html.Raw(@TempData["ErrorMessage"])
    </div>
}

@if (TempData["InfoMessage"] != null && TempData["InfoMessage"] != "")
{
    <div role="alert" class="alert alert-info alert-dismissible fade in">
        <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
        </button>
        &nbsp;
        <em id="info" class="fa fa-info"></em>
        &nbsp;
        @Html.Raw(@TempData["InfoMessage"])
    </div>
}