﻿@model VibbraPlaces.Web.Models.Place.CreatePlaceVM
@{
    ViewBag.Title = "Cadastrar Estabelecimento";
}

<h2>Cadastrar Estabelecimento</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Create", "Place", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Partial("_Messages")

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Address, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.City, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.State, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.State, null, new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Country, new { @class = "control-label" }) *
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.PlaceTypeId) *
                    @Html.DropDownListFor(m => m.PlaceTypeId,
                        new SelectList(ViewBag.placeTypes, "Id", "Name"),
                        new { @class = "form-control", id = "PlaceTypeId" })
                </div>
            </div>

            <input type="submit" id="btnCadastrar" name="btnCadastrar" class="btn btn-primary" value="Cadastrar">
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}