﻿@model VibbraPlaces.Web.Models.Place.EvaluatePlaceVM
@{
    ViewBag.Title = "Avaliar Estabelecimento";
}

<h2>Avaliar Estabelecimento</h2>

@if (Model.EvaluateId != 0)
{
    <div class="alert alert-warning alert-dismissible" role="alert">        
        <p>Você já avaliou este estabelecimento. Para alterar sua avaliação, altere os valores abaixo e clique em Avaliar.</p>
    </div>
}

<hr />

@Html.Partial("_Messages")

<div class="row">
    <div class="col-md-6">
        <h3>Estabelecimento</h3>
        <p>Nome: @Model.Name</p>
        <p>Endereço: @Model.Address</p>
        <p>Cidade: @Model.City</p>
        <p>Estado: @Model.State - País: @Model.Country</p>
        <p>Tipo: @Model.PlaceType</p>
    </div>
    <div class="col-md-6">

        @using (Html.BeginForm("Evaluate", "Place", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.PlaceId)
            @Html.HiddenFor(m => m.EvaluateId)

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h3>Avaliação</h3>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.HasInternet, new { @class = "control-label" })

                    <select class="form-control" id="HasInternet" name="HasInternet">
                        @{
                            if (Model.HasInternet)
                            {
                                <option value="true" selected>Sim</option>
                                <option value="false">Não</option>
                            }
                            else
                            {
                                <option value="true">Sim</option>
                                <option value="false" selected>Não</option>
                            }                            
                        }
                    </select>
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.InternetSpeed, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.InternetSpeed, new { @class = "form-control" })
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.OpenInternet, new { @class = "control-label" })

                    <select class="form-control" id="OpenInternet" name="OpenInternet">
                        @{
                            if (Model.OpenInternet)
                            {
                                <option value="true" selected>Sim</option>
                                <option value="false">Não</option>
                            }
                            else
                            {
                                <option value="true">Sim</option>
                                <option value="false" selected>Não</option>
                            }
                        }
                    </select>

                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.InternetPassword, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.InternetPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Food, new { @class = "control-label" }) *
                    @Html.TextAreaFor(m => m.Food, new { @class = "form-control", rows = 2 })
                    @Html.ValidationMessageFor(m => m.Food, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Drink, new { @class = "control-label" }) *
                    @Html.TextAreaFor(m => m.Drink, new { @class = "form-control", rows = 2 })
                    @Html.ValidationMessageFor(m => m.Drink, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.ServiceRating, new { @class = "control-label", style = "margin-bottom: 0;" })
                    <br />
                    <span class="rating" data-name="ServiceRating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "star";
                            if (Model.ServiceRating == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                    @Html.TextBoxFor(m => m.ServiceRating, new { style = "visibility:hidden;" })<br />
                    @Html.ValidationMessageFor(m => m.ServiceRating, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.PriceRating, new { @class = "control-label", style = "margin-bottom: 0;" })
                    <br />
                    <span class="dollar" data-name="PriceRating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "star";
                            if (Model.PriceRating == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                    @Html.TextBoxFor(m => m.PriceRating, new { style = "visibility:hidden;" })<br />
                    @Html.ValidationMessageFor(m => m.PriceRating, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.ComfortRating, new { @class = "control-label", style = "margin-bottom: 0;" })
                    <br />
                    <span class="rating" data-name="ComfortRating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "star";
                            if (Model.ComfortRating == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                    @Html.TextBoxFor(m => m.ComfortRating, new { style = "visibility:hidden;" })<br />
                    @Html.ValidationMessageFor(m => m.ComfortRating, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.NoiseRating, new { @class = "control-label", style = "margin-bottom: 0;" })
                    <br />
                    <span class="rating" data-name="NoiseRating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "star";
                            if (Model.NoiseRating == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                    @Html.TextBoxFor(m => m.NoiseRating, new { style = "visibility:hidden;" })<br />
                    @Html.ValidationMessageFor(m => m.NoiseRating, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.GeneralEvaluationRating, new { @class = "control-label", style = "margin-bottom: 0;" })
                    <br />
                    <span class="rating" data-name="GeneralEvaluationRating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "star";
                            if (Model.GeneralEvaluationRating == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                    @Html.TextBoxFor(m => m.GeneralEvaluationRating, new { style = "visibility:hidden;" })<br />
                    @Html.ValidationMessageFor(m => m.GeneralEvaluationRating, null, new { @class = "text-danger" })
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Avaliar">
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/rating")
}