﻿@model VibbraPlaces.Web.Data.Model.Place
@{
    ViewBag.Title = Model.Name;
}

@Html.Partial("_Messages")

<div class="row">
    <div class="col-md-6">
        <h2>Estabelecimento</h2>
        <hr />
        <p><b>Nome:</b> @Model.Name</p>
        <p><b>Endereço:</b> @Model.Address</p>
        <p><b>Cidade:</b> @Model.City</p>
        <p><b>Estado:</b> @Model.State - País: @Model.Country</p>
        <p><b>Tipo:</b> @Model.PlaceType.Name</p>
        <br />

        <a href="/place/evaluate/@Model.Id" class="btn btn-primary">Avaliar Estabelecimento</a>

    </div>

    <div class="col-md-6">
        <h2>Avaliações</h2>
        <hr />

        <table class="table">
            <tr>
                <th>Possui Internet?</th>
                <th>Classificação Geral</th>
                <th></th>
            </tr>

            @foreach (var evaluation in Model.PlaceEvaluations)
            {
                <tr>                    
                    @if (evaluation.HasInternet)
                    { <td>Sim</td> }
                    else
                    { <td>Não</td> }

                      <td>
                          <span class="rating-view">
                              @for (int i = 1; i <= 5; i++)
                              {
                                  var starClass = "star";
                                  if (evaluation.GeneralEvaluationRating == 6 - i)
                                  {
                                      starClass += " active";
                                  }
                                  <span data-value="@(6 - i)" class="@starClass"></span>
                              }
                          </span>
                      </td>
                    
                    <td><a href="/place/view-evaluation/@evaluation.Id" class="btn btn-success">Visualizar</a></td>
                </tr>
            }

        </table>

    </div>

</div>