﻿@model VibbraPlaces.Web.Data.Model.PlaceEvaluation
@{
    ViewBag.Title = "Visualizar Avaliação";
}

@Html.Partial("_Messages")

<div class="row">
    <div class="col-md-6">
        <h2>Estabelecimento</h2>
        <hr />
        <p><b>Nome:</b> @Model.Place.Name</p>
        <p><b>Endereço:</b> @Model.Place.Address</p>
        <p><b>Cidade:</b> @Model.Place.City</p>
        <p><b>Estado:</b> @Model.Place.State - País: @Model.Place.Country</p>
        <p><b>Tipo:</b> @Model.Place.PlaceType.Name</p>
        <br />

        <a href="/place/evaluate/@Model.Place.Id" class="btn btn-primary">Avaliar Estabelecimento</a>

    </div>

    <div class="col-md-6">
        <h2>Avaliação</h2>
        <hr />

        <p>
            <b>Possui Internet?</b> @if (Model.HasInternet)
            {<span>Sim</span> }
            else
            { <span>Não</span>}
        </p>
        <p><b>Velocidade: </b> @Model.InternetSpeed</p>
        <p>
            <b>Internet Aberta?</b> @if (Model.OpenInternet)
            {<span>Sim</span> }
            else
            { <span>Não</span>}
        </p>
        <p><b>Senha: </b> @Model.InternetPassword</p>
        <p><b>Comida: </b> @Model.Food</p>
        <p><b>Bebida: </b> @Model.Drink</p>
        <p>
            <b>Atendimento: </b><br />
            <span class="rating-view">
                @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "star";
                    if (Model.ServiceRating == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span data-value="@(6 - i)" class="@starClass"></span>
                }
            </span>
        </p>
        <p>
            <b>Preço: </b><br />
            <span class="dollar-view">
                @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "star";
                    if (Model.PriceRating == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span data-value="@(6 - i)" class="@starClass"></span>
                }
            </span>
        </p>
        <p>
            <b>Conforto: </b><br />
            <span class="rating-view">
                @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "star";
                    if (Model.ComfortRating == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span data-value="@(6 - i)" class="@starClass"></span>
                }
            </span>
        </p>
        <p>
            <b>Ruído (Barulho): </b><br />
            <span class="rating-view">
                @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "star";
                    if (Model.NoiseRating == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span data-value="@(6 - i)" class="@starClass"></span>
                }
            </span>
        </p>
        <p>
            <b>Avaliação Geral: </b><br />
            <span class="rating-view">
                @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "star";
                    if (Model.GeneralEvaluationRating == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span data-value="@(6 - i)" class="@starClass"></span>
                }
            </span>
        </p>
        <p><b>Data da avaliação: </b> @Model.InsertDate.ToString("dd/MM/yyyy")</p>
        <p><b>Avaliador: </b> @Model.ApplicationUser.Email</p>
    </div>

</div>