﻿@{
    ViewBag.Title = "Sobre";
}
<h2>Vibbra Places</h2>
<p>
    Vibbra Places é uma plataforma para profissionais que precisam de um lugar
    apropriado para trabalhar, ou seja, pessoas
    que trabalham remotamente, que viajam,
    profissionais liberais, pessoas que gostam
    de variar o seu local de trabalho etc.
</p>

<p>Em caso de dúvidas entre em contato conosco pelo e-mail srvibbraneo@gmail.com.</p>
