﻿@model VibbraPlaces.Web.Models.Home.FindVM
@{
    ViewBag.Title = "Locais incríveis para trabalhar remoto";
}

@if (Request.HttpMethod == "GET")
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <h2>Bem-vindo ao Vibbra Places!</h2>
        <p class="lead">Encontre lugares incríveis para trabalhar remoto. Veja a avaliação de outros profissionais e avalie seus locais de trabalho.</p>
    </div>
}
else
{
    <br />
}

@Html.Partial("_Messages")

<div class="alert alert-success" role="alert">
    <p><b>Buscar Estabelecimentos</b></p>
    <hr style="margin: 2px">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row">
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.Term, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Term, new { @class = "form-control", placeholder = "Nome do local ou endereço..." })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.PlaceType)
                        @Html.DropDownListFor(m => m.PlaceType,
                            new SelectList(ViewBag.PlaceTypes, "Id", "Name"),
                            new { @class = "form-control", id = "PlaceType" })
                    </div>
                    <div class="col-md-2">
                        <label for="btnFind" class="control-label" style="margin-bottom: 5px; padding: 0">&nbsp;</label>
                        <button id="btnFind" type="submit" class="form-control btn btn-primary">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-9">
        <p><b>Estabelecimentos</b></p>
        
        <div class="row">
            <div class="col-md-12">
                
                <table class="table">
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Avaliações</th>
                        <th></th>
                    </tr>

                    @foreach (var place in Model.Places)
                    {
                        <tr>
                            <td>@place.Name</td>
                            <td>@place.Type</td>
                            <td>@place.City</td>
                            <td>@place.State</td>
                            <td>@place.EvaluationQuantity</td>
                            <td><a href="place/view/@place.Id" class="btn btn-success">Visualizar</a></td>
                        </tr>
                    }

                </table>

            </div>

        </div>
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Cadastrar Estabelecimento", "Create", "Place", null, new { @class = "btn btn-primary pull-right" })
    </div>

</div>